<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myproject"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_paths" />
        </provider>
        <activity
            android:name=".QuizzActivity"
            android:exported="false" />
        <activity
            android:name=".MainMenuBar"
            android:exported="false" />
        <activity
            android:name=".Introduction_to_c"
            android:exported="false" />
        <activity
            android:name=".Statements"
            android:exported="false" />
        <activity
            android:name=".quiz"
            android:exported="false" />
        <activity
            android:name=".Files"
            android:exported="false" />
        <activity
            android:name=".Function"
            android:exported="false" />
        <activity
            android:name=".statements_in_c"
            android:exported="false" />
        <activity
            android:name=".python_matter"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".Cmatter"
            android:exported="false" />
        <activity
            android:name=".C"
            android:exported="false" />
        <activity
            android:name=".CodingPage"
            android:exported="false" />
        <activity
            android:name=".RegistrationForm"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>